# GitHub Pages
VITE_BASE_URL=/nome-do-repositorio/

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# APIs
VITE_GEMINI_API_KEY=
VITE_PEXELS_API_KEY=

# Google / YouTube
VITE_GOOGLE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
